{% extends 'index.html' %}
{% block title %}Dashboard | E-Learning {% endblock title %}
{% block profile %}
{% url 'profile' siswa.siswa_id %}
{% endblock %}
{% block user %}
{{siswa.name}}
{% endblock user %}
{% block allJenjangs %}
{% url 'jenjangs' %}
{% endblock%}
{% block jenjangs %}
{% url 'myJenjangs' %}
{% endblock %}
{% block content %}
<div>
   <!--navigation links-->
   <div class="container">
      <div class="container shadow-sm">
         <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb p-3">
               <li class="breadcrumb-item active" aria-current="page">Jenjang</li>
            </ol>
         </nav>
      </div>
      {% if jenjangs %}
      <!-- Jenjang container -->
      <div class="card_primary d-flex justify-content-center flex-wrap">
         {% for jenjangs in jenjangs %}
         <!-- individual jenjang starts -->
         <div class="cd card text-center my-4 mx-4" style="width: 30rem !important;">
            <div class="card-header text-light fw-bold">
               Tahun Ajaran {{jenjangs.tahunajaran}}
            </div>
            <div class="card-body">
               <h5 class="card-title fw-bold"> {{jenjangs.tahunajaran}}-{{jenjangs.code}} : {{jenjangs.name}}</h5>
               <a href="{% url 'jenjang' jenjangs.code %}" class="btn btn-outline-dark px-5">Masuk</a>
            </div>
            <div class="card-footer text-light fw-bold">
               {% if jenjangs.pengasuh %}
               Pengasuh Jenjang : {{ jenjangs.pengasuh.name}}
               {% else %}
               Belum ada pengasuh
               {% endif %}
            </div>
         </div>
         <!-- individual jenjang ends -->
         {% endfor %}
         <!-- Jenjang container ends -->
      </div>
      {% else %}
      <div class="text-center fs-5 text-secondary">
         <p>Anda belum terdaftar ke dalam jenjang</p>
      </div>
      {% endif %}
   </div>
</div>
{% endblock %}